[Desktop Entry]
Version=1.0
Type=Application
Name=Iniciar Adequi Moveis
Comment=Inicializa o ambiente Django e React
Exec=bash -c 'DIR="$(dirname %k)"; cd "$DIR"; chmod +x executar.sh; gnome-terminal -- bash -c "./executar.sh; exec bash"'
Icon=utilities-terminal
Terminal=false
Categories=Development;