[Desktop Entry]
Version=1.0
Type=Application
Name=Iniciar Adequi Moveis
Comment=Inicializa o ambiente Django e React
Exec=bash -c 'cd "$(dirname "%k")"; chmod +x executar.sh; ./executar.sh; bash'
Icon=utilities-terminal
Terminal=true
Categories=Development;