# Exemplo de configuração - Preencha no seu .env local
SECRET_KEY=sua_secret_key_aqui
DEBUG=True

DB_NAME=moveis_db
DB_USER=seu_usuario_postgres
DB_PASSWORD=sua_senha_postgres
DB_HOST=localhost
DB_PORT=5432
